asgiref==3.7.2
backports.zoneinfo==0.2.1
cffi==1.17.1
clr_loader==0.2.7.post0
confusable-homoglyphs==3.3.1
contourpy==1.1.1
cycler==0.12.1
distlib==0.3.7
Django==3.2.25
django-registration==3.4
filelock==3.13.1
fonttools==4.57.0
importlib_resources==6.4.5
IronPdf==2024.12.1.9
kiwisolver==1.4.7
matplotlib==3.7.5
node==1.2.2
numpy==1.24.4
odict==1.9.0
opencv-python==4.11.0.86
packaging==25.0
pandas==2.0.3
pillow==10.4.0
platformdirs==4.0.0
plumber==1.7
psycopg2==2.9.9
pycparser==2.22
pyotp==2.9.0
pyparsing==3.1.4
python-dateutil==2.8.2
pythonnet==3.0.5
pytz==2025.1
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.7.1
tzdata==2023.3
virtualenv==20.24.7
virtualenvwrapper-win==1.2.7
zipp==3.20.2
zope.component==6.0
zope.deferredimport==5.0
zope.deprecation==5.0
zope.event==5.0
zope.hookable==7.0
zope.interface==7.2
zope.lifecycleevent==5.0
zope.proxy==6.1
